<div class="footer-section2">

      <div class="container">
          <div class="d-flex ">
            <div class="mr-auto p-2">
              <h6 class="title-footer">
                Copyright © 2018 CoCabinet. All rights reserved.
              </h6>
            </div>
            <div class="p-2">
              <a href="#"><img src="../../assets/tweeter.svg"/></a>
            </div>
            <div class="p-2">
              <a href="#"> <img src="../../assets/facebook.svg"/></a>
            </div>
            <div class="p-2">
              <a href="#"><img src="../../assets/instagram.svg"/></a>
            </div>
          </div>
        </div>


      </div>