<div class="row " style="margin-top: 122px;">
  <img class="title-logo" src="../../assets/Logo.svg" />
  <h3 class="blue-title">Un plus grand choix de cabinets en 2019</h3>
</div>

<div class="row" style="margin-top: 62px;">
  <div class="col-lg-3">
    <div class="card border-0" style="width: 255px;">
      <div class="cabinet"><img src="/assets/cab.svg" /></div>
      <div class="euro"><img src="/assets/euro.svg" /></div>
      <div class="etoile"><img src="/assets/etoile.svg" /></div>
    </div>
    <div>
      <h5 class="card-title">Cabinet Dentaire</h5>

      <div class="cabinet-details">Cabinet complet - 250 m2</div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card border-0" style="width: 255px;margin-left: 8px">
      <div class="cabinet"><img src="/assets/cab.svg" /></div>
      <div class="euro"><img src="/assets/euro.svg" /></div>
      <div class="etoile"><img src="/assets/etoile.svg" /></div>
    </div>

    <div style="margin-left: 8px">
      <h5 class="card-title">Cabinet Dentaire</h5>
      <div class="cabinet-details">Cabinet complet - 250 m2</div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card border-0" style="width: 255px;margin-left: 8px">
      <div class="cabinet"><img src="/assets/cab.svg" /></div>
      <div class="euro"><img src="/assets/euro.svg" /></div>
      <div class="etoile"><img src="/assets/etoile.svg" /></div>
    </div>
    <div style="margin-left: 8px">
      <h5 class="card-title">Cabinet Dentaire</h5>

      <div class="cabinet-details">Cabinet complet - 250 m2</div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card border-0" style="width: 255px;margin-left: 8px">
      <div class="cabinet"><img src="../../assets/cab.svg" /></div>
      <div class="euro"><img src="../../assets/euro.svg" /></div>
      <div class="etoile"><img src="../../assets/etoile.svg" /></div>
    </div>
    <div style="margin-left: 8px">
      <h5 class="card-title">Cabinet Dentaire</h5>
      <div class="cabinet-details">Cabinet complet - 250 m2</div>
    </div>
  </div>
</div>
<!--row for ellipse cards-->
<div class="row" style="margin-top: 230px;">
  <img class="title-logo" src="../../assets/white_logo.svg" />
  <h3 class="white-title">Profitez en toute sécurité</h3>
</div>
<div class="row" style="margin-top: 53px;">
  <div class="col-md-4">
    <img src="../../assets/Ellipse.png" />
    <h3 class="ellipse-title">Définissez vos prix</h3>
    <p class="ellipse-content">
      Lorem ipsum dolor sit amet, consectetur <br />adipiscing elit, sed do
      eiusmod tempor <br />incididunt ut labore et dolore magna.
    </p>
  </div>
  <div class="col-md-4">
    <img src="../../assets/Ellipse.png" />
    <h3 class="ellipse-title">Définissez vos prix</h3>
    <p class="ellipse-content">
      Lorem ipsum dolor sit amet, consectetur <br />adipiscing elit, sed do
      eiusmod tempor <br />incididunt ut labore et dolore magna.
    </p>
  </div>
  <div class="col-md-4">
    <img  src="../../assets/Ellipse.png" />
    <h3 class="ellipse-title">Paiement garantie</h3>
    <p class="ellipse-content">
      Lorem ipsum dolor sit amet, consectetur <br />adipiscing elit, sed do
      eiusmod tempor <br />incididunt ut labore et dolore magna.
    </p>
  </div>

  <!--row for lorem/cras/watshot cards-->
  <div class="row" style="margin-top: 94px;">
    <img class="title-logo" src="../../assets/white_logo.svg" />
    <h3 class="white-title">Aide et F.A.Q</h3>
  </div>
  <div class="row" style="margin-top: 53px;padding-left:0px">
    <div class="col-md-4">
      <div class="help-card">
        <img class="icone" src="../../assets/insert_emoticon.svg" />
        <h4 class="icone-title">Lorem Ipsum Dolor</h4>
        <div class="icone-description">Curabitur aliquam eget nullam</div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="help-card">
        <img class="icone" src="../../assets/location_city.svg" />
        <h4 class="icone-title">Cras Interdum Velit</h4>
        <div class="icone-description">Mauris consequat hendrerit ex</div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="help-card">
        <img class="icone" src="../../assets/whatshot.svg" />
        <h4 class="icone-title">Vulputate Justo</h4>
        <div class="icone-description">Aenean tempus laoreet lorem</div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;;padding-left:0px">
    <div class="col-md-4">
      <div class="help-card">
        <img class="icone" src="../../assets/insert_emoticon.svg" />
        <h4 class="icone-title">Lorem Ipsum Dolor</h4>
        <div class="icone-description">Curabitur aliquam eget nullam</div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="help-card">
        <img class="icone" src="../../assets/location_city.svg" />
        
        <h4 class="icone-title">Cras Interdum Velit</h4>
        <div class="icone-description">Mauris consequat hendrerit ex</div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="help-card">
        <img class="icone" src="../../assets/whatshot.svg" />
        <h4 class="icone-title">Vulputate Justo</h4>
        <div class="icone-description">Aenean tempus laoreet lorem</div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 258px;">
    <img src="../../assets/Logo.svg" />

    <h3 class="blue-title">Un plus grand choix de cabinets en 2019</h3>
  </div>
  <!--row for "logement" cards-->
  <div class="row" style="margin-top: 69px;padding-left:0px">
    <div class="col-md-4" style="padding-right:10px;padding-left: 10px">
      <div class="card  card bg-transparent border-0" style="width:355px;">
        <img src="../../assets/Group 27.svg" class="img-responsive" />
        <div class="card-img-overlay">
          <h5 class="picture-title">LOGEMENTS CABINET</h5>
        </div>
      </div>
    </div>

    <div class="col-md-4" style="padding-right:10px">
      <div class="card bg-transparent border-0" style="width:355px;">
        <img src="../../assets/Group 27.svg" class="img-responsive" />
        <div class="card-img-overlay">
          <h5 class="picture-title">LOGEMENTS CABINET</h5>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card  card bg-transparent border-0" style="width:355px;">
        <img src="../../assets/Group 27.svg" />
        <div class="card-img-overlay">
          <h5 class="picture-title">LOGEMENTS CABINET</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row " style="margin-top: 120px;margin-bottom:32px">
    <img class="title-logo" src="../../assets/Logo.svg" />
    <h3 class="blue-title">Temoignage</h3>
  </div>
</div>
