<div class="footer-section1">
    <div class="container">
        <div class="row">
          <div class="col ">
            <div class="img-footer">
              <img style="padding-right:80px" src="../../assets/cocab_white.svg" />
            </div>
            <div class="content-text">
              <p class="text-footer">
                Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget
                nullam pellentesque aliquam curabitur cociis.
              </p>
            </div>
          </div>
    
          <div class="col">
            <div class="navigation">
              <a href="#"><p class="title-footer">Navigation</p></a>
              <a href="#"> <p class="text-footer">About Us</p></a>
              <a href="#"> <p class="text-footer">News</p></a>
              <a href="#"> <p class="text-footer">Support</p></a>
              <a href="#"> <p class="text-footer">Products</p></a>
            </div>
          </div>
          <div class="col">
            <div class="aboutus">
              <a href="#"> <p class="title-footer">ABOUT US</p></a>
              <a href="#"> <p class="text-footer">Who we are</p></a>
              <a href="#"><p class="text-footer">Our team</p></a>
              <a href="#"> <p class="text-footer">Careers</p></a>
              <a href="#"> <p class="text-footer">Investors</p></a>
            </div>
          </div>
    
          <div class="col">
            <div class="support">
              <a href="#"> <p class="title-footer">Support</p></a>
              <a href="#"> <p class="text-footer">Documentation</p></a>
              <a href="#"> <p class="text-footer">Community</p></a>
              <a href="#"> <p class="text-footer">Get in Touch</p></a>
              <a href="#"> <p class="text-footer">Community</p></a>
            </div>
          </div>
          <div class="col">
            <div class="subscribe">
              <a href="#">
                <p class="title-footer">Subscribe to our newsletter</p></a
              >
              <p class="text-footer">
                Receive our latest news and promotions in your inbox!
              </p>
              <p class="text-footer">Your Email</p>
              <div id="mail">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Your email address"
                    aria-label="Recipient's username"
                    aria-describedby="button-addon2"
                  />
                  <div class="input-group-append">
                    <input
                      class="btn btn-outline-secondary"
                      type="image"
                      id="button-addon2"
                      src="../../assets/flesh.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   
    


<app-footer-page></app-footer-page>
  </div>



