<div class="container">
  <div class="row" style="padding-top:30px">
    <div class="col-md-4">
      <a class="navbar-brand" href="#"
        ><img style="padding-left:0px;padding-top:5px" src="/assets/cocab1.svg"
      /></a>
    </div>
    <div class="col-md-8">
      <nav class="navbar navbar-expand-lg navbar-fixed-top bg-transparent">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="justify-content:flex-end"
                >Trouver un Cabinet<span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">à propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Connexion</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn-inscription" type="submit">
              <div class="content-btn">Inscription</div>
            </button>
          </form>
        </div>
      </nav>
    </div>
  </div>
  <div class="row" style="padding-left:15px;">
    <div class="title-blue">
      Faites de votre cabinet une nouvelle <br />source de revenu
    </div>
    <div class="simple-text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        consectetur est<br />
        ac nisi sodales, sit amet lacinia metus blandit. Lorem ipsum dolor sit
        amet.<br />
      </p>
    </div>
  </div>
  <div class="row" style="padding-left:15px">
    <button class="add-button" type="submit">
      <div class="content-btn">AJOUTER MON CABINET</div>
    </button>
  </div>
</div>

<div class="second-section">
  <div class="container">
    <div class="row" style="padding-left:15px;">
      <div class="col">
        <div class="card">
          <img class="img-card" src="../../assets/group1.svg" />
          <div class="card-body">
            <div class="number-icone1"><img src="../../assets/num1.svg" /></div>
            <h5 class="icon-title">Ajouter votre cabinet</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="margin-left: 5px">
          <img class="img-card" src="../../assets/group2.svg" />
          <div class="card-body">
            <div class="number-icone2"><img src="../../assets/num2.svg" /></div>
            <h5 class="icon-title">Définissez vos disponibilités</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="margin-left: 10px">
          <img class="img-card3" src="../../assets/group3.svg" />
          <div class="card-body">
            <div class="number-icone3"><img src="../../assets/num3.svg" /></div>
            <h5 class="icon-title">Gérer les demandes</h5>
          </div>
        </div>
      </div>
    </div>
    <app-content></app-content>
  </div>
</div>
<app-testimony></app-testimony>
