
.navbar{
  padding-left: 0px;
  padding-right: 0px;
}


.btn-inscription{
  width: 160px;
  height: 50px;
  background: linear-gradient(119.05deg, #8F68FC 0%, #292984 100.61%);
  border-radius: 5px;
 
}
  .nav-item {
    font-family:Quicksand-bold;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    text-transform: capitalize;
  
    color: #2a225a !important;
  }
  
  .icon-title{
padding-top: 5px;
 
    font-family: Quicksand-bold;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    
    color: #3A3768;
    
    }

  .col {
    padding-left: 0px;
    padding-right: 0px;
  }
  

  li{
     padding-right: 45px
  }
  a
  {
    font-family:Quicksand-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    text-transform: capitalize;

    color: #2A225A;
  text-decoration: none;
  }
  
  .title-blue{
      margin-top: 92px
  }
  .simple-text{
    padding-top:18px
  }
  .btn-ajout{
   margin-top:32px
  }
 

  .card{
 transform: translateY(-50%);
    width: 350px;
    height: 240px;
}
.img-card{
    padding-top:31px 
}
.img-card3{
  padding-top:34px 
}

.number-icone1,.number-icone3{
float: left;
padding-left: 50px;

padding-right: 14px


}

.number-icone2{
  float: left;
padding-left: 10px;
padding-right: 14px
}

.second-section{
  background: #F8F8FB;
  position: relative;
  margin-top: 200px;
}