<div class="temoignage-section">

    <div class="footer-section1">
      <div class="content">
              <div class="container">
                
            <div class="row"> 
              <div class="col-md-8">
               <h4 class="secondary-blue-title"> Faites de votre cabinet une nouvelle<br></h4>
            <h5 class="secondary-gray-title"> Faites de votre cabinet une nouvelle source de revenu </h5>
            </div>
            <div class="col-md-4">
            <button type="button" class="add-button"><div class="content-btn">AJOUTER MON CABINET</div></button>
            </div>
            </div>
            </div>
      </div>
    </div>
  
        <app-footer></app-footer>
      </div>